

/* Variable */
:root{

    --clr-primary: #000000;
    --clr-secondary:#FFFFFF;
    --clr-backdrop: #dd93f7;;
  
    --ff-primary: 'Inter', sans-serif;


    --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 300;
  --fw-bold: 700;

  --fs-600: 1rem;
  --fs-700: 2rem;
  --fs-900:7rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-600);
  --fs-button: var(--fs-600);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    transition: .3s;
}
.hero{
    width: 100%;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.705);
    position: relative;
    overflow: hidden;
}
.hero::after{
    content: '';
    position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: 50px;
        background: linear-gradient(#dd93f7 , #dcc7e4);
        clip-path: polygon(20% 0, 60% 0, 100% 100%, 60% 100%);
        z-index: 1;
}
.hero header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.hero header .logo{
    color: var(--clr-secondary);
    font-size: 30px;
    font-weight: bolder;
}
.hero header .logo span{
    color: #dd93f7;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.hero header  .nav-links a{
    color: var(--clr-secondary);
    font-size: 18px;
   margin-right: 40px;
}

.hero .content .div-img{
    width: 30%;
    position: absolute;
    /* bottom: -5px; */
    right: 5%;
    z-index: 100;
    margin-top: 150px;
}
.hero .content .div-img img{
    width: 100%;
    animation: glow 2s infinite alternate;
  box-shadow: 0 0 20px 0 #dd93f7, 0 0 40px 0 #dcc7e4;
  border-radius: 50%;

 
}
@keyframes glow {
    0% {
      box-shadow: 0 0 20px 0 #dd93f7, 0 0 40px 0 #dcc7e4;
    }
    100% {
      box-shadow: 0 0 40px 10px #dd93f7, 0 0 80px 20px #dcc7e4;
    }
  }
.hero .content .div-text{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    z-index: 100;
}
.content .div-text h3{
    color: var(--clr-secondary);
    font-size: 35px;
    margin-bottom: 10px;
}
.content .div-text h1{
    color: #dd93f7;
    font-size: 45px;
    font-weight: bold;
}
.content .div-text p{
    color: var(--clr-secondary);
    margin: 15px 0 50px;
    line-height: 1.5;
}
 .btn{
    color: #fff;
    padding: 15px 40px;
    background: #dd93f7;
    font-size: 20px;
    border-radius: 30px;
    font-weight: bold;
    border: 2px solid #dd93f7;
}

 .btn:hover{
    background: transparent;
}
.content .div-text .soc-links{
    margin-top: 40px;
}
.content .div-text .soc-links a{
    color: var(--clr-secondary);
    font-size: 25px;
    margin-left: 15px;
}
.content .div-text .soc-links a:hover{
    color: #dd93f7;
}
/* Your existing CSS styles here */

/* Additional styles for the About section */
/* Your existing CSS styles here */

/* Additional styles for the About section */
/* Your existing CSS styles here */

/* Additional styles for the About section */
/* Your existing CSS styles here */

/* Additional styles for the About section */
.about {
    padding: 50px;
    background-color: var(--clr-primary); /* Soft black background */
    color: white; /* White font color */
    justify-content: center;
    align-items: center;
  }
 
  
  .about h2 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about-content {
    display: flex;
    justify-content: center;
  }
  
  .about-content img {
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .about-content .bio {
    width: 1100px;
  }
  
  .about-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #dd93f7; /* Header color */
  }
  
  .about-content p {
    margin-bottom: 20px;
  }
  
  .about-content h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .about-content ul {
    list-style-type: none; /* Remove default list styles */
    margin-left: 0;
    padding-left: 0;
  }
  
  .about-content ul li {
    margin-bottom: 10px;
  }
  .bio{
    
    align-items: center;
    gap: 150px;
    display: flex;
  }
  
  /* Progress Bar Styles */
  .container {
    width: 100%;
    background-color: #ddd;
  }
  
  .skills {
    text-align: right;
    padding-top: 5px; /* Decrease top padding */
    padding-bottom: 5px; /* Decrease bottom padding */
    color: var(--clr-primary); /* Skill text color */
  }
  .about-details {
    background-color: rgba(25, 25, 26, 0.5); /* Set background color to white */
    border-radius: 15px; /* Apply rounded corners */
    padding: 20px; /* Add padding for space inside the round shape */
    margin-right: auto;
    box-shadow: 0 0 16px var(--clr-backdrop);
  }
  
  .container .skills {
    background-color: #dd93f7; /* Progress bar color */
  }
  .pro-skills {
    padding: 20px;
    background-color: rgba(25, 25, 26, 0.5); /* Glass-like background color with transparency */
    border-radius: 15px; /* Apply rounded corners */
    margin-top: 30px;
    box-shadow: 0 0 16px var(--clr-backdrop);
  }
  .education{
    padding: 20px;
    background-color: rgba(25, 25, 26, 0.5); /* Glass-like background color with transparency */
    border-radius: 15px; /* Apply rounded corners */
    margin-top: 30px;
    box-shadow: 0 0 16px var(--clr-backdrop);

  }
.portfolio{
  text-align: center;
  justify-content: center;
  align-items: center;
}
  .portfolio h1{
    text-align: center;
    margin-bottom: 80px;

  }
  
  .portfolio-container{
display: flex;
gap: 70px;
justify-content: center;
flex-wrap: wrap;
align-items: center;
gap: 1.5rem;

  }
  .portfolio-container .portfolio-box{
position: relative;
border-radius: 2rem;
box-shadow: 0 0 16px var(--clr-backdrop);
overflow: hidden;
display: flex;
width: 350px;
height: 300px;

margin: 0 0px 10px 80px;


  }
  .portfolio-box img{
    width: 100%;
    height: 300px;
    transition: .5s ease;
  
  }
  .portfolio-box:hover img{
transform: scale(1.1);

  }

.portfolio-box .portfolio-layer{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(rgba(243, 238, 238, 0.1)), var(--clr-backdrop);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
padding: 0 64px;

transform: translateY(100%);
transition: .5s ease;

  }
  .portfolio-box:hover .portfolio-layer{

    transform: translateY(0);


  }
  .portfolio-layer h4{
    font-size: 3rem;
    }
    .portfolio-layer p{
    font-size: 1.6 rem;
    margin: .3rem 0 1rem;
    }
    
    .portfolio-layer a {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 5rem;
     height: 5rem;
     background: var(--clr-article) ;
     border-radius: 50%;
    }
    
    .portfolio-layer a i {
     font-size: 2rem;
     color: var(--clr-secondary);
    
    }
    .contact h2{
      margin-bottom: 3rem;
    }
    .contact{
    
      text-align: center;

    }
    .contact form{
      max-width: 70rem;
      margin: 1rem auto;
      text-align: center;
      margin-bottom: 3rem;
    }
    .contact form .input-box{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .contact form .input-box input,
    .contact form textarea{
      width: 100%;
      padding: 1.5rem;
      font-size: 1.6rem;
      color: var(--clr-secondary);
      background-color: rgba(25, 25, 26, 0.5);
 
      border-radius: .8rem;
      margin: .7rem 0;

    }
    .contact form .input-box input{
width: 47%;
margin-left: 10px;

    }

  /* Adjust the width of each progress bar */
  .container .skills.html { width: 70%; }
  .container .skills.css { width: 60%; }
  .container .skills.js { width: 50%; }
  .container .skills.php { width: 45%; }
  

  
 
  
  /* Adjust the width of each progress bar */
 
/* Your existing CSS styles here */

/* Hide the .nav-links by default on mobile */
@media (max-width: 600px) {
    .hero header .nav-links {
      display: block;
      z-index: 99999;
      text-align: center;
      padding-block: 60px;
   
      backdrop-filter: blur(8px); /* Adjust the blur radius as needed */
  background-color: rgba(25, 25, 26, 0.5);
    }
    nav-links a:hover {
       background-color: var(--clr-backdrop);
        color: var(--clr-primary); 
      }
    .hero header .nav-links a{

        margin-top: 40px;
    }
    .hero header{
        position: unset;
    }
    .content{
        z-index: -1;
    }
    header{

        display: block;
    }
    
    .hero header .nav-toggle {
      display: flex;
      align-items: center;
    }
    
    /* Show the .toggle-button */
    .toggle-button {
      font-size: 24px;
      background: var(--clr-backdrop);
      border: none;
      cursor: pointer;
      padding: 5px;
    }
    
    /* Show the .close-button */
    .close-button {
      font-size: 24px;
      background: var(--clr-backdrop);
      border: none;
      cursor: pointer;
      padding: 5px;
      display: none; /* Initially hidden */
    }
    
    /* Show the .nav-links when the button is checked (toggled) */
    .toggle-button:checked ~ .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    /* Hide the .toggle-button when it's checked (toggled) */
    .toggle-button:checked {
      display: none;
    }
    
    /* Show the .close-button when the .toggle-button is checked (toggled) */
    .toggle-button:checked ~ .close-button {
      display: block;
    }
  }
  @media (min-width: 601px) {
    .nav-links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
  .services{
    padding-bottom: 100px;
  }
.services h1{

  margin-bottom: 5rem;
  text-align: center;

}
.services-container{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

}
.service-button{
  display: flex;
  justify-content: center;
}
.services-box p{

  width: 500px;
}
.services-container .services-box{

padding: 1rem;
border-radius: 1rem;
text-align: center;
border: .2rem solid var(--clr-backdrop);


justify-content: center;
align-items: center;
}
 .services-box i {
  font-size: 3rem;
  color: #dd93f7;
 }

 /* Adjust button styles to fit well inside the service box */
.services-box .btn {
  color: #fff;
  padding: 8px 20px; 
  background: #dd93f7;
  font-size: 16px; 
  border-radius: 30px;
  font-weight: bold;
  border: 2px solid #dd93f7;
  cursor: pointer;
  position: absolute;

}

.services-box .btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-color: rgba(221, 147, 247, 0.5);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  animation: glowing 2s linear infinite;
}

@keyframes glowing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Utility classes */
.text-primary {
    color: var(--clr-primary);
  }
.text-secondary{
  color: var(--clr-secondary);
}
.text-article{

  color: var(--clr-article);
}
.text-backdrop{
    color: var(--clr-backdrop);
}
  .bg-primary {
    background-color: var(--clr-primary);
  }
  .bg-neutral {
    background-color: var(--clr-secondary);
  }
  .bg-article{
    background-color: var(--clr-article);
  }

  .fw-bold {
    font-weight: var(--fw-bold);
  }
  
  .fw-regular {
    font-weight: var(--fw-regular);
  }
  .fs-primary-heading {
    font-size: var(--fs-primary-heading);
  }
  .fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
  }
  .fs-600 {
    font-size: var(--fs-600);
  }
  .fs-700 {
    font-size: var(--fs-700);
  }
  .fs-900 {
    font-size: var(--fs-900);
  }
.padding-block-900 {
  padding-block: var(--size-900);
}
.padding-block-700 {
  padding-block: var(--size-700);
}
